<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Full Spectrum Testing</title>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- build:css styles/styles.css-->
    <link rel="stylesheet" type="text/css" href="bower_components/prism/themes/prism-tomorrow.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <!-- endbuild--><!-- link(rel='stylesheet', type='text/css', href='bower_components/bespoke-fx/src/animations.css') -->
  </head>
  <body><span class="hashtag">#codefront2014</span>
    <article>
      <section class="deck-slide">
        <h1>Full Spectrum Testing</h1>
        <p>By <a href="http://twitter.com/CarmenPopoviciu">@CarmenPopoviciu</a> and <a href="http://twitter.com/PascalPrecht">@PascalPrecht</a></p>
        <p>codefront.io - May 10, 2014</p>
      </section>
      <section data-bespoke-fx-transition="scale-down-up" class="introduction">
        <h1 style="text-align: left; width: 100%; margin-left: 40px;" data-bespoke-bullet>Hi there.</h1>
        <h2 style="text-align: left; width: 100%; margin-left: 40px;" data-bespoke-bullet>We are...</h2>
        <figure data-bespoke-bullet class="profile-carmen"><img src="styles/carmen-profile.jpeg">
          <figcaption>@CarmenPopoviciu</figcaption>
        </figure>
        <figure data-bespoke-bullet class="profile-pascal"><img src="styles/pascal-profile.jpeg">
          <figcaption>@PascalPrecht</figcaption>
        </figure><img src="styles/super-geil.gif" data-bespoke-bullet class="super-geil">
      </section>
      <section>
        <p data-bespoke-bullet style="font-size: 3em; line-height: 1.2">We have 40 min to cover full spectrum testing</p>
        <div data-bespoke-bullet class="unidog"><img src="styles/unidog.gif">
          <h4 style="position: absolute; font-size: 3em; color: #fff; top: 0; left: 3.5em; text-shadow: 0px 2px 3px hsl(0, 0%, 0%);">YAY...</h4>
        </div>
      </section>
      <section>
        <p style="color: maroon; font-size: 2em; line-height: 1.2" data-bespoke-bullet>Unfortunately there's too much to cover. :(</p>
        <p style="color: green; font-size: 2em; margin-top: 0.5em;" data-bespoke-bullet>But we can inspire you! :)</p><img src="styles/mind-blown2.gif" data-bespoke-bullet class="mind-blown2">
      </section>
      <section style="background-image: url(styles/depp.gif); background-repeat: no-repeat; background-size: 100% 100%;" data-bespoke-fx-transition="scale-down-up">
        <h2 style="color: #fff; text-shadow: 0px 2px 3px hsl(0, 0%, 0%); margin-top: 8em; margin-left: 4em;">How do you like testing?</h2>
      </section>
      <section>
        <h2 data-bespoke-bullet>Why people don't test</h2>
        <ul style="margin-top: 2em; width: 60%;">
          <li data-bespoke-bullet>Takes too long (environment setup etc.)</li>
          <li data-bespoke-bullet>Missing expertise (how to test? Which tools to use?)</li>
          <li data-bespoke-bullet>works-for-me™ (and without tests)</li>
          <li data-bespoke-bullet>...</li>
        </ul>
      </section>
      <section>
        <h2 data-bespoke-bullet>Why people should test</h2>
        <ul style="margin-top: 2em; width: 60%;">
          <li data-bespoke-bullet>Verifies that system meets requirements (functional, performance, security etc.)</li>
          <li data-bespoke-bullet>Improves quality (code and product)</li>
          <li data-bespoke-bullet>Helps to *not* deploy bugs</li>
          <li data-bespoke-bullet>Makes debugging easier</li>
          <li data-bespoke-bullet>...</li>
        </ul>
      </section>
      <section>
        <h2>So what do we cover today?</h2>
      </section>
      <section>
        <h2 style="margin-bottom: 0.5em;">We inspire you with these</h2>
        <h3 style="width: 80%; text-align: left;">Unit Testing</h3>
        <ul style="margin-top: .5em; width: 70%" data-bespoke-bullet>
          <li data-bespoke-bullet style="font-size: 18px;">Karma Testrunner</li>
          <li data-bespoke-bullet style="font-size: 18px;">Jasmine as a DSL</li>
          <li data-bespoke-bullet style="font-size: 18px;">Sample test code</li>
        </ul>
        <h3 style="margin-top: 1em; width: 80%; text-align: left;">E2E Testing</h3>
        <ul style="margin-top: .5m; width: 70%">
          <li data-bespoke-bullet style="font-size: 18px;">Protractor</li>
          <li data-bespoke-bullet style="font-size: 18px;">PageObjects</li>
          <li data-bespoke-bullet style="font-size: 18px;">Debugging</li>
        </ul>
      </section>
      <section>
        <h3>So next time you deploy an app, you don't feel like this...</h3>
      </section>
      <section style="background-image: url(styles/sweeper-fail.gif); background-repeat: no-repeat; background-size: 100% 100%;"></section>
      <section>
        <h3>But rather like this...</h3>
      </section>
      <section style="background-image: url(styles/smooth.gif); background-repeat: no-repeat; background-size: 100% 100%;"></section>
      <section>
        <h3 data-bespoke-bullet>Ready to visit the land of milk and honey?</h3>
        <h2 data-bespoke-bullet>Let's go!</h2>
      </section>
      <!-- UNIT TESTING SECTION -------------------------------------------------------------------------------->
      <section>
        <h1>Unit Testing</h1>
      </section>
      <section>
        <h2 style="width: 80%;">What?</h2>
        <ul style="margin-top: 1em; width: 70%" data-bespoke-bullet>
          <li data-bespoke-bullet>Isolate individual units of code under test</li>
          <li data-bespoke-bullet>a.k.a. instantiate the unit standalone, without the rest of the system</li>
          <li data-bespoke-bullet>Uses mocking strategies: providing a fake object or method for the target code to interact with</li>
        </ul>
      </section>
      <section>
        <h2 style="width: 80%;">Why?</h2>
        <ul style="margin-top: 1em; width: 70%" data-bespoke-bullet>
          <li data-bespoke-bullet>Measurable proof that your code is correct</li>
          <li data-bespoke-bullet>Safer refactoring</li>
          <li data-bespoke-bullet>Reliable components</li>
          <li data-bespoke-bullet>Write better code: reusable, loosely coupled and maintainable</li>
          <li style="font-weight: bold;" data-bespoke-bullet>Sleep better at night</li><img src="styles/holmes.gif" data-bespoke-bullet class="no-sleep">
        </ul>
      </section>
      <section>
        <h2 style="width: 80%;" data-bespoke-bullet>When?</h2>
        <p style="font-size: 1.2em; margin-top: 1em;" data-bespoke-bullet><b>Before or while</b> the 'units' are being developed.</p>
      </section>
      <section>
        <h2 data-bespoke-bullet>Tools</h2><img src="styles/karma-funny.png" data-bespoke-bullet>
      </section>
      <section><img src="styles/karma-logo.svg" style="width: 50%;"></section>
      <section>
        <p style="font-size: 1.4em; line-height: 1.2; margin-top: 1em;" data-bespoke-bullet>Karma is a test runner, that makes automated testing simpler and faster ...</p>
        <div data-bespoke-bullet class="fast">
          <figure><img src="styles/super-fast.gif">
            <figcaption>as in VERY fast!</figcaption>
          </figure>
        </div>
      </section>
      <section>
        <h2>Pre-Karma Solutions</h2>
        <ul style="margin-top: 1em; width: 70%" data-bespoke-bullet>
          <li data-bespoke-bullet><span style="font-weight: bold">Selenium | WebDriver / Selenium 2</span><span>: suitable for e2e</span></li>
          <li data-bespoke-bullet><span style="font-weight: bold">Testing frameworks (Jasmine, QUnit)</span><span>: HTML runners</span></li>
          <li data-bespoke-bullet><span style="font-weight: bold">JsTestDriver</span><span>: slow and unreliable</span></li>
        </ul>
      </section>
      <section>
        <h2>Goals</h2>
        <div style="width: 70%;" data-bespoke-bullet>
          <ul style="margin-top: 1em; width: 100%;" data-bespoke-bullet>
            <li>Testing on real browsers</li>
            <li>Remote control</li>
            <li>Speed</li>
            <li>Integration with IDEs and text editors</li>
            <li>Integration with CI servers</li>
            <li>Extensibility</li>
            <li>Debugging</li>
          </ul>
        </div>
      </section>
      <section>
        <h2 data-bespoke-bullet>Design</h2>
        <p data-bespoke-bullet><b>Client-server</b> architecture with a bi-directional communication channel between the client and the server</p><img src="styles/karma-architecture.png" data-bespoke-bullet>
      </section>
      <section>
        <h3 style="text-align: left;"><b>The server</b> is the master part of the system and runs on Node.js on the local machine.</h3>
        <ul style="width: 80%;" data-bespoke-bullet>
          <li data-bespoke-bullet>Watching files</li>
          <li data-bespoke-bullet>Communication with captured clients</li>
          <li data-bespoke-bullet>Reporting test results to the developer</li>
          <li data-bespoke-bullet>Serving all the client code</li>
        </ul>
      </section>
      <section>
        <h3 style="text-align: left;"><b>The client</b> is the place where all the tests are actually executed.</h3>
        <ul style="width: 80%;" data-bespoke-bullet>
          <li data-bespoke-bullet>Typically a web browser, a computer, TV, tablet, etc.</li>
          <li data-bespoke-bullet>Runs on the same machine as the server or anything that has HTTP access to the server</li>
          <li data-bespoke-bullet>Communicates with the server through socket.io</li>
          <li data-bespoke-bullet>Executes the tests in an iframe</li>
        </ul>
      </section>
      <section>
        <h2>Demo</h2>
      </section>
      <section>
        <h2>Configuration</h2>
        <pre style="margin-top: 1em; font-size: 14px;" data-bespoke-bullet><code class="language-javascript">module.exports = function(config) {
  config.set({
    basePath: '../..',
    files: [
        'app/scripts/**/*.js',
        'test/unit/*.spec.js'
    ],
    exclude: [],
    port: 1234,
    frameworks: ['jasmine'],
    autoWatch: true,
    browsers: ['Chrome', 'Safari', 'Firefox']
  });
};

</code></pre>
      </section>
      <section><img src="styles/jasmine_vertical.svg" style="height: 135px; width: 100px; margin-top: -30px;" data-bespoke-bullet>
        <p data-bespoke-bullet>behavior-driven development framework for testing JavaScript code</p>
        <p data-bespoke-bullet>suites, specs and expectations</p>
        <pre data-bespoke-bullet style="font-size: 14px;"><code class="language-javascript">describe("A suite", function() {
   it("contains spec with an expectation", function() {
     expect(true).toBe(true);
   });
});
</code></pre>
      </section>
      <section>
        <h2>ngMock</h2>
        <p data-bespoke-bullet>Provides some useful mocking tools to test Angular modules</p>
        <p data-bespoke-bullet><b>angular.mock.module, angular.mock.inject, $httpBackend</b></p>
      </section>
      <section>
        <h2>Examples</h2>
      </section>
      <section>
        <pre data-bespoke-bullet style="font-size: 12px;"><code class="language-javascript">var app = angular.module('myApp', []);
app.controller('MyCtrl', ['$scope', function($scope){
    $scope.tweets = [{
        text: 'Hello codefront.io'
    },{
        text: 'codefront.io rocks!'
    }];
}]);</code></pre>
        <pre data-bespoke-bullet style="font-size: 12px;"><code class="language-javascript">describe("Controller: MyCtrl", function() {
    beforeEach(module('myApp'));
    
    it("should contain a tweets object on the scope",
        inject(function($rootScope, $controller) {
            var scope = $rootScope.$new();
            var ctrl = $controller('MyCtrl', {'$scope': scope});
            expect(scope.tweets).toBeDefined();
            expect(scope.tweets.length).toEqual(2);
    }));
});

</code></pre>
      </section>
      <section>
        <pre data-bespoke-bullet style="font-size: 12px;"><code class="language-javascript">describe("Controller: MyCtrl", function() {
    var scope;
    var ctrl;
    
    beforeEach(module('myApp'));
    
    beforeEach(inject(function($rootScope, $controller) {
        scope = $rootScope.$new();
        ctrl = $controller('MyCtrl', {
            '$scope': scope
        });
    }));
    
    it("should contain a tweets object on the scope", function() {
            expect(scope.tweets).toBeDefined();
            expect(scope.tweets.length).toEqual(2);
    });
});

</code></pre>
      </section>
      <section>
        <pre data-bespoke-bullet style="font-size: 12px;"><code class="language-javascript">app.service('twitter', TwitterService);

app.controller('MyCtrl', ['$scope', 'twitter', function($scope, twitter){
    $scope.tweets = twitter.tweets();
}]);
</code></pre>
        <pre data-bespoke-bullet style="font-size: 12px;"><code class="language-javascript">function TwitterService() {
    this.tweets = function() {
        // for the sake of the example
        var tweets = [{text: 'codefront.io rocks!'}];
        return tweets;
    };
}

</code></pre>
      </section>
      <section>
        <pre data-bespoke-bullet style="font-size: 12px;"><code class="language-javascript">describe("Controller: MyCtrl", function() {
      var scope;
      var ctrl;
      var mockService;
      
      beforeEach(module('myApp'));
      beforeEach(inject(function($rootScope, $controller) {
          scope = $rootScope.$new();
          mockService = {
              tweets: function(){
                  return [];
              }
          };
          ctrl = $controller('MyCtrl', {'$scope': scope,
              'twitter': mockService
          });
      }));
      
      it("should contain a tweets object on the scope", function() {
              expect(scope.tweets).toBeDefined();
              expect(scope.tweets.length).toEqual(0);
      });
});</code></pre>
      </section>
      <!-- END UNIT TESTING SECTION ----------------------------------------------------------------------------><!-- section(class='e2e-deck-slide', style='background-image: url(styles/protractor-logo-icon.png)') -->
      <section>
        <h1>E2E Testing</h1><!-- img(src='styles/protractor-logo-icon.png') -->
      </section>
      <section><img src="styles/no-e2e.png" style="width: 80%"></section>
      <section>
        <h2 data-bespoke-bullet>What?</h2>
        <ul style="margin-top: 1em; width: 70%">
          <li data-bespoke-bullet>Ensures pieces work together</li>
          <li data-bespoke-bullet>Checks if app performs as designed from start to finish</li>
          <li data-bespoke-bullet>Tests user interaction/usability</li>
        </ul><!-- p(data-bespoke-bullet, style='margin-top: 1em; font-size: 1.3em; line-height: 1.2;') Test whether the flow of an application is performing as designed from start to finish. -->
      </section>
      <section>
        <h2 data-bespoke-bullet>Why?</h2>
        <p style="font-size: 1.2em; margin-top: 1em;" data-bespoke-bullet>Imagine you have to the following things by hand to test your app:</p>
        <ul style="margin-top: 1em; width: 70%">
          <li data-bespoke-bullet>Click every link in your app</li>
          <li data-bespoke-bullet>Check if form validation works</li>
          <li data-bespoke-bullet>Count items in your search result you get when using the search bar</li>
          <li data-bespoke-bullet>...</li>
        </ul>
      </section>
      <section style="background-image: url(styles/make-it-stop.gif); background-repeat: no-repeat; background-size: 100% 100%"></section>
      <section>
        <h2>When?</h2>
        <ul style="margin-top: 1em; width: 70%" data-bespoke-bullet>
          <li data-bespoke-bullet>Once components are unit tested</li>
          <li data-bespoke-bullet>Before app deploy (in different browsers)</li>
        </ul>
      </section>
      <section><img src="styles/protractor-logo-large.png" style="width: 60%;"></section>
      <section>
        <p style="font-size: 1.4em; line-height: 1.3"><b>Protractor</b> is an E2E testing framework built on top of Webdriver to <b>make E2E testing</b> for Angular applications <b>more fun</b>.</p><!-- h2 Protractor? -->
        <!-- ul(style='margin-top: 1em; width: 70%', data-bespoke-bullet) -->
        <!--   li(data-bespoke-bullet) E2E Testing Framework -->
        <!--   li(data-bespoke-bullet) Introduced during AngularJS 1.2 -->
        <!--   li(data-bespoke-bullet) Replaced ng-scenario -->
      </section>
      <section>
        <h2>Key features</h2>
        <ul style="margin-top: 1em; width: 70%" data-bespoke-bullet>
          <li data-bespoke-bullet>Built on top of Webdriver</li>
          <li data-bespoke-bullet>Syntactic Sugar for Angular apps (<b>Locator Strategies</b>)</li>
          <li data-bespoke-bullet>Is able to run tests on a remote (Selenium) server</li>
          <li data-bespoke-bullet>Run tests in different browsers</li>
        </ul>
      </section>
      <section>
        <h2>Why not just Webdriver?</h2>
        <p style="font-size: 1.2em; margin-top: 1em;" data-bespoke-bullet>AngularJS gives structure to an app your runner can use:</p>
        <ul style="margin-top: 1em; width: 70%">
          <li data-bespoke-bullet>Custom attributes and elements</li>
          <li data-bespoke-bullet>Dependency Injection</li>
          <li data-bespoke-bullet>Asynchronous execution (e.g. <code>$http</code>, <code>$timeout</code>)</li>
        </ul>
      </section>
      <section>
        <h2 data-bespoke-bullet>Design</h2><img data-bespoke-bullet src="styles/protractor-design.png" style="width: 70%;">
      </section>
      <section>
        <h2>Demo</h2>
      </section>
      <section>
        <h2 data-bespoke-bullet>Writing tests (WebdriverJS)</h2>
        <pre style="margin-top: 1em; font-size: 0.8em;" data-bespoke-bullet><code class="language-javascript">var wd = require('selenium-webdriver');

var driver = new wd.Builder()
  .withCapabilities(wd.Capabilities.chrome())
  .build();
  
driver.get('some/url');
driver.findElement(wd.By.name('foo')).sendKeys('webdriver');
driver.findElement(wd.By.name('btn')).click();
driver.sleep(400);
driver.getTitle().then(function (title) {
  // do something
});
</code></pre>
      </section>
      <section>
        <h2 data-bespoke-bullet>Wait!</h2>
        <div data-bespoke-bullet><img src="styles/wait.gif" style="width: 60%;">
          <p style="font-size: 1.3em; margin-top: 0.5em;">Everything returns a promise, right?</p>
        </div>
      </section>
      <section>
        <h2 data-bespoke-bullet>Shouldn't my code look like this?</h2>
        <pre style="margin-top: 1em; font-size: 0.8em;" data-bespoke-bullet><code class="language-javascript">var wd = require('selenium-webdriver');

var driver = new wd.Builder()
  .withCapabilities(wd.Capabilities.chrome())
  .build();
  
driver.get('some/url').then(function () {
  driver.findElement(wd.By.name('foo')).then(function (element) {
    element.sendKeys('webdriver').then(function () {
      driver.findElement(wd.By.name('btn')).then(
        function (element2) {
          element2.click();
          // ...
          </code></pre>
      </section>
      <section>
        <h2>Webdriver handles control flow!</h2>
        <pre style="margin-top: 1em; font-size: 0.8em;"><code class="language-javascript">var wd = require('selenium-webdriver');

var driver = new wd.Builder()
  .withCapabilities(wd.Capabilities.chrome())
  .build();
  
driver.get('some/url');
driver.findElement(wd.By.name('foo')).sendKeys('webdriver');
driver.findElement(wd.By.name('btn')).click();
driver.sleep(400);
driver.getTitle().then(function (title) {
  // do something
});
</code></pre>
      </section>
      <section>
        <h2 data-bespoke-bullet>Writing tests (Protractor/Jasmine)</h2>
        <pre style="margin-top: 1em; font-size: 0.8em;" data-bespoke-bullet><code class="language-javascript">describe('something', function () {

  beforeEach(function () {
    browser.get('some/url');
  });
  
  it('should do something', function () {
    var foo = element(by.className('foo'));
    expect(foo.isDisplayed()).toBe(true);
  });
  
  it('should do something', function () {
    element(by.input('search')).sendKeys('bar');
    element(by.buttonText('submit'));
    expect(element(by.className('search-result')).isDisplayed())
      .toBe(true);
  });
});
</code></pre>
      </section>
      <section>
        <h2>Locator Strategies</h2>
        <table class="locator-strategies">
          <tr>
            <td><code>&lt;span&gt;{{yourName}}&lt;/span&gt;</code></td>
            <td><code>element(by.binding('yourName'));</code></td>
          </tr>
          <tr>
            <td><code>&lt;input ng-model="password"&gt;</code></td>
            <td><code>element(by.input('password'));</code></td>
          </tr>
          <tr>
            <td><code>&lt;tr ng-repeat="foo in foos"&gt;</code></td>
            <td><code>
                element(by.repeater('foo in foos'))
                  .row(1)
                  </code></td>
          </tr>
          <tr>
            <td></td>
            <td><code>
                element.by(repeater('foo in foos'))
                  .column('foo.bar');
                  </code></td>
          </tr>
        </table>
      </section>
      <section>
        <h2 data-bespoke-bullet>Page Objects</h2>
        <pre style="margin-top: 1em; font-size: 0.8em;" data-bespoke-bullet><code class="language-javascript">var TwitterApp = function () {
  this.search = function () {
    return element(by.classModel('search'));
  };
  this.tweets = function () {
    return element(by.repeater('tweet in tweets'));
  };
};
module.exports = new TwitterApp();
</code></pre>
        <pre style="margin-top: 1em; font-size: 0.7em;" data-bespoke-bullet><code class="language-javascript">var app = require('./twitter-app.page.js');

it('should do something', function () {
  app.search().sendKeys('codefrontio');
  // ...
});
</code></pre>
      </section>
      <section>
        <h1>Debugging</h1>
      </section>
      <section>
        <h2 data-bespoke-bullet>Pausing to debug</h2>
        <pre data-bespoke-bullet style="font-size: 0.8em;"><code class="language-javascript">it("contains spec with an expectation", function() {
  browser.get('some/url');
  
  browser.debugger();
  
  expect(testWillFail).toBe(true);
});
</code></pre>
        <pre data-bespoke-bullet style="font-size: 0.8em;"><code class="language-javascript">$ protractor debug protractor.conf.js
</code></pre>
      </section>
      <section>
        <h2 data-bespoke-bullet>Interactive file explorer</h2>
        <pre data-bespoke-bullet style="font-size: 0.8em;"><code class="language-javascript">$ ./bin/elementexplorer.js my-web-app.com
</code></pre>
        <pre data-bespoke-bullet style="font-size: 0.8em;"><code class="language-javascript">&gt; element(by.id('foobar')).getText()
</code></pre>
        <pre data-bespoke-bullet style="font-size: 0.8em;"><code class="language-javascript">&gt; browser.get('http://codefront.io')
</code></pre>
      </section>
      <section>
        <h2>Demo</h2>
      </section>
      <section class="deck-slide">
        <h1 style="margin-top: 2em" data-bespoke-bullet>Thanks!</h1>
        <h1 style="margin-top: 0em">Full Spectrum Testing</h1>
        <p>By <a href="http://twitter.com/CarmenPopoviciu">@CarmenPopoviciu</a> and <a href="http://twitter.com/PascalPrecht">@PascalPrecht</a></p>
        <p>codefront.io - May 10, 2014</p><img data-bespoke-bullet src="styles/doge.gif" class="doge">
      </section>
      <!-- build:js scripts/scripts.js-->
      <script src="bower_components/bespoke.js/dist/bespoke.min.js"></script>
      <script src="bower_components/bespoke-keys/dist/bespoke-keys.min.js"></script>
      <script src="bower_components/bespoke-touch/dist/bespoke-touch.min.js"></script>
      <script src="bower_components/bespoke-bullets/dist/bespoke-bullets.min.js"></script>
      <script src="bower_components/bespoke-scale/dist/bespoke-scale.min.js"></script>
      <script src="bower_components/bespoke-hash/dist/bespoke-hash.min.js"></script>
      <script src="bower_components/bespoke-progress/dist/bespoke-progress.min.js"></script>
      <script src="bower_components/bespoke-state/dist/bespoke-state.min.js"></script>
      <script src="bower_components/bespoke-forms/dist/bespoke-forms.min.js"></script>
      <script src="bower_components/bespoke-fx/dist/bespoke-fx.min.js"></script>
      <script src="bower_components/prism/prism.js"></script>
      <script src="scripts/main.js"></script>
      <!-- endbuild-->
    </article>
  </body>
</html>