doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Full Spectrum Testing
    script(src='bower_components/modernizr/modernizr.js')

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild
    <!-- link(rel='stylesheet', type='text/css', href='bower_components/bespoke-fx/src/animations.css') -->

  body
    span(class='hashtag') #codefront2014
    article
      section(class='deck-slide')
        h1 Full Spectrum Testing
        p By <a href="http://twitter.com/CarmenPopoviciu">@CarmenPopoviciu</a> and <a href="http://twitter.com/PascalPrecht">@PascalPrecht</a>
        p codefront.io - May 10, 2014

      section(data-bespoke-fx-transition="scale-down-up", class='introduction')
        h1(style='text-align: left; width: 100%; margin-left: 40px;', data-bespoke-bullet) Hi there.
        h2(style='text-align: left; width: 100%; margin-left: 40px;', data-bespoke-bullet) We are...
        figure(class='profile-carmen', data-bespoke-bullet)
          img(src='https://pbs.twimg.com/profile_images/3465736275/e6c51a0587a7b57638dbbbda281fa90f.jpeg')
          figcaption
            @CarmenPopoviciu

        figure(class='profile-pascal', data-bespoke-bullet)
          img(src='https://pbs.twimg.com/profile_images/449147152036397057/u0bWmFuc.jpeg')
          figcaption
            @PascalPrecht

      section
        p(data-bespoke-bullet, style='font-size: 3em; line-height: 1.2') We have 40 min to cover full spectrum testing
        div(class='unidog', data-bespoke-bullet)
          img(src='styles/unidog.gif')
          h4(style='position: absolute; font-size: 3em; color: #fff; top: 0; left: 3.5em; text-shadow: 0px 2px 3px hsl(0, 0%, 0%);') YAY...

      section
        p(style='color: maroon; font-size: 2em; line-height: 1.2', data-bespoke-bullet) No, this is bad :( There's too much to cover.
        p(style='color: green; font-size: 2em; margin-top: 0.5em;', data-bespoke-bullet) But we can inspire you! :)
        img(class='mind-blown', src='styles/mind-blown.gif', data-bespoke-bullet)
        img(class='mind-blown2', src='styles/mind-blown2.gif', data-bespoke-bullet)

      section(style='background-image: url(http://24.media.tumblr.com/tumblr_m83tks6Fjr1rys4czo1_500.gif); background-repeat: no-repeat; background-size: 100% 100%;', data-bespoke-fx-transition="scale-down-up")
        h2(style='color: #fff; text-shadow: 0px 2px 3px hsl(0, 0%, 0%); margin-top: 8em; margin-left: 4em;') How do you like testing?

      section
        h2(data-bespoke-bullet) Why people don't test
        
        ul(style='margin-top: 2em; width: 60%;')
          li(data-bespoke-bullet) Missing expertise (how to test? Which tools to use?)
          li(data-bespoke-bullet) Takes too long (environment setup etc.)
          li(data-bespoke-bullet) works-for-me™ (and without tests)
          li(data-bespoke-bullet) ...

      section
        h2(data-bespoke-bullet) Why people should test

        ul(style='margin-top: 2em; width: 60%;')
          li(data-bespoke-bullet) Verifies that system meets requirements (functional, performance, security etc.)
          li(data-bespoke-bullet) Improves quality (code and product)
          li(data-bespoke-bullet) Helps to *not* deploy bugs
          li(data-bespoke-bullet) Makes debugging easier
          li(data-bespoke-bullet) ...

      section
        h2 So what do we cover today?

      section
        h2(style='margin-bottom: 0.5em;') We inspire you with these
        h3(style='width: 80%; text-align: left;') Unit Testing
        ul(style='margin-top: .5em; width: 70%', data-bespoke-bullet)
          li(data-bespoke-bullet) Karma Testrunner
          li(data-bespoke-bullet) Jasmine as a DSL

        h3(style='margin-top: 1em; width: 80%; text-align: left;') E2E Testing
        ul(style='margin-top: .5m; width: 70%')
          li(data-bespoke-bullet) Protractor
          li(data-bespoke-bullet) Debugging
          li(data-bespoke-bullet) PageObjects

      section
        h3 So next time you deploy an app, you don't feel like this...

      section(style='background-image: url(http://gifs.joelglovier.com/accidents/sweeper-fail.gif); background-repeat: no-repeat; background-size: 100% 100%;')

      section
        h3 But rather like this...

      section(style='background-image: url(http://gifs.joelglovier.com/smooth/smooth.gif); background-repeat: no-repeat; background-size: 100% 100%;')

      section
        h3(data-bespoke-bullet) Ready to visit the land of milk and honey?
        h2(data-bespoke-bullet) Let's go!

      // UNIT TESTING SECTION ------------------------------------------------------------------------------
      section
        h1 Unit Testing
        img(src='styles/karma-logo.png')


      section
        h2(style='width: 80%;') What?
        ul(style='margin-top: 1em; width: 70%', data-bespoke-bullet)
          li(data-bespoke-bullet) isolate individual units of code under test
          li(data-bespoke-bullet) a.k.a. instantiate the unit standalone, without the rest of the system
          li(data-bespoke-bullet) uses mocking strategies: providing a fake object or method for the target code to interact with


      section
        h2(style='width: 80%;') Why?
        ul(style='margin-top: 1em; width: 70%', data-bespoke-bullet)
          li(data-bespoke-bullet) measurable proof that your code is correct
          li(data-bespoke-bullet) safer refactoring
          li(data-bespoke-bullet) reliable components
          li(data-bespoke-bullet) write better code: reusable, loosely coupled and maintainable
          li(style='font-weight: bold;', data-bespoke-bullet) sleep better at night


      section
        h2(style='width: 80%;', data-bespoke-bullet) When?
        p(style='font-size: 1.2em; margin-top: 1em;', data-bespoke-bullet) <b>Before or while</b> the 'units' are being developed.


      section
        h3(data-bespoke-bullet) Tools
        img(src='styles/karma-funny.png', data-bespoke-bullet)


      section
        img(src='styles/karma-logo.svg', style='width: 50%;')

      section
        p(style='font-size: 1.4em; line-height: 1.2; margin-top: 1em;', data-bespoke-bullet) Karma is a test runner, that makes automated testing simpler and faster ...
        div(class='fast', data-bespoke-bullet)
          figure
            img(src='http://31.media.tumblr.com/tumblr_luqskuGhSF1r6aoq4o1_500.gif')
            figcaption as in VERY fast!

      section
        h2 Context
        ul(style='margin-top: 1em; width: 70%', data-bespoke-bullet)
          li(data-bespoke-bullet)
            span(style='font-weight: bold') Selenium | WebDriver / Selenium 2
            span : suitable for e2e
          li(data-bespoke-bullet)
            span(style='font-weight: bold') Testing frameworks (Jasmine, QUnit)
            span : HTML runners
          li(data-bespoke-bullet)
            span(style='font-weight: bold') JsTestDriver
            span : slow and unreliable


      section
        h2 Goals
        ul(style='margin-top: 1em; width: 70%', data-bespoke-bullet)
          li(data-bespoke-bullet) Testing on Real Browsers
          li(data-bespoke-bullet) Remote Control
          li(data-bespoke-bullet) Speed
          li(data-bespoke-bullet) Integration with IDEs and text editors
          li(data-bespoke-bullet) Integration with CI Servers
          li(data-bespoke-bullet) Extensibility
          li(data-bespoke-bullet) Debugging


      section
        h2 Demo

      section
        h2 Configuration
        pre(style='margin-top: 1em', data-bespoke-bullet)
          code.language-javascript.
            module.exports = function(config) {
              config.set({
                basePath: '../..',
                frameworks: ['jasmine'],
                //...
              });
            };

      section
        h2 Further configuration options
        table
          tr
            th Name
            th Meaning
          tr
            td foo
            td bar
          tr
            td foo
            td bar
          tr
            td foo
            td bar
          tr
            td foo
            td bar

      section
        img(src='http://jasmine.github.io/images/jasmine_vertical.svg')

      section
        h2 Jasmine
        p(data-bespoke-bullet) Jasmine is a behavior-driven development framework for testing JavaScript code
        p(data-bespoke-bullet) suites, specs and expectations
        pre(data-bespoke-bullet)
          code.language-javascript.
              describe("A suite", function() {
                 it("contains spec with an expectation", function() {
                   expect(true).toBe(true);
                 });
               });

      section
        h2 Jasmine sample code
        p iit(), xit() ?

      section
        h2 Jasmine sample code
        p ddescribe(), xdescribe()?

      section
        h2 ngMock
        p(data-bespoke-bullet) provides some useful mocking tools to test Angular modules
        p(data-bespoke-bullet) angular.mock.module, angular.mock.inject, $httpBackend

      section
        h2 Another demo
        
      section
        h2 So much #moar!
        ul(style='margin-top: 1em; width: 70%', data-bespoke-bullet)
          li(data-bespoke-bullet) debugger statement
          li(data-bespoke-bullet) running tests in other browsers

      // END UNIT TESTING SECTION --------------------------------------------------------------------------

      <!-- section(class='e2e-deck-slide', style='background-image: url(styles/protractor-logo-icon.png)') -->
      section
        h1 E2E Testing
        img(src='styles/protractor-logo-icon.png')

      section
        h2(data-bespoke-bullet) E2E Tests?
        p(data-bespoke-bullet, style='margin-top: 1em; font-size: 1.3em; line-height: 1.2;') Test whether the flow of an application is performing as designed from start to finish.

      section
        h2 Why?
        ul(style='margin-top: 1em; width: 70%', data-bespoke-bullet)
          li(data-bespoke-bullet) arg1
          li(data-bespoke-bullet) arg2
          li(data-bespoke-bullet) arg3

      section
        h2 When?
        ul(style='margin-top: 1em; width: 70%', data-bespoke-bullet)
          li(data-bespoke-bullet) arg1
          li(data-bespoke-bullet) arg2
          li(data-bespoke-bullet) arg3

      section
        img(src='styles/protractor-logo-large.png', style='width: 60%;')

      section
        h2 Protractor?
        ul(style='margin-top: 1em; width: 70%', data-bespoke-bullet)
          li(data-bespoke-bullet) E2E Testing Framework
          li(data-bespoke-bullet) Introduced during AngularJS 1.2
          li(data-bespoke-bullet) Replaced ng-scenario

      section
        h2 So what's the difference? 
        ul(style='margin-top: 1em; width: 70%', data-bespoke-bullet)
          li(data-bespoke-bullet) Built on top of WebdriverJS and Selenium
          li(data-bespoke-bullet) Syntactic Sugar for Angular apps (Locator Strategies)
          li(data-bespoke-bullet) Is able to run tests on a remote server
          li(data-bespoke-bullet) Run tests in different browsers

      section
        h2 Demo

      section
        h2 Configuration

      section
        h2 Locator Strategies

      section
        h2 Control Flow

      section
        h2 File Explorer

      section
        h2 Demo

      section
        h2 Recap!

      section(class='deck-slide')
        h1(style='margin-top: 2em') Thanks!
        h1(style='margin-top: 0em') Full Spectrum Testing
        p By <a href="http://twitter.com/CarmenPopoviciu">@CarmenPopoviciu</a> and <a href="http://twitter.com/PascalPrecht">@PascalPrecht</a>
        p codefront.io - May 10, 2014


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/bespoke-fx/dist/bespoke-fx.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
